$primary-color: #fffef7;
$secondary-color: #e6dabc;
$font-color: #222;
$font-heading: anton, sans-serif;
$font-body: 'Barlow Condensed', sans-serif;
$font-size--heading: 20px;
$breakpoint--moblie: 425px;
$breakpoint--tablet: 768px;
$breakpoint--laptop: 1024px;
$breakpoint--laptop-large: 1440px;
