$primary-color: #fffef7;
$secondary-color: #e6dabc;
$font-color: #222;
$font-heading: anton, sans-serif;
$font-body: 'Barlow Condensed', sans-serif;
$font-size--heading: 20px;

body {
  background-color: $primary-color;
  color: $font-color;
  margin: auto;
}

header {
  background: $secondary-color;
  color: $font-color;
  line-height: 25px;
  font-size: $font-size--heading;
  font-family: $font-heading;
  text-align: center;
}

nav {
  & ul li {
    text-align: center;
    width: 130px;
    display: inline-block;
  }

  & ul li a {
    font-family: $font-body;
    text-decoration: none;
    display: block;
  }
}

a:hover {
  background-color: $primary-color;
  color: $font-color;
}

main {
  margin: 70px 300px;
}

h3 {
  font-family: $font-heading;
  font-size: $font-size--heading;
}

p {
  font-family: $font-body;
  font-size: 18px;
}
