body {
  background-color: #fffef7;
  color: #000;
  margin: auto;
}

header {
  background: #e6dabc;
  color: inherit;
  line-height: 25px;
  font-size: 20px;
  font-family: Anton, sans-serif;
  text-align: center;
}

nav {
  & ul li {
    text-align: center;
    width: 130px;
    display: inline-block;
  }

  & ul li a {
    font-family: 'Barlow Condensed', sans-serif;
    text-decoration: none;
    display: block;
  }
}

a:hover {
  background-color: #e6dabc;
  color: #000;
}

main {
  margin: 70px 300px;
}

h3 {
  font-family: Anton, sans-serif;
  font-size: 20px;
}

p {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 18px;
}
