@import 'variables';

body {
  background-color: $primary-color;
  color: $font-color;
  margin: auto;
  line-height: normal;
}

#home-header {
  position: fixed;
  margin: auto;
  width: 1545px;
  height: 500px;
  background: $secondary-color;
  color: $font-color;
}

header {
  position: fixed;
  margin: auto;
  width: 1545px;
  height: 135px;
  background: $secondary-color;
  color: $font-color;
  line-height: 25px;
  font-size: $font-size--heading;
  font-family: $font-heading;
  text-align: center;
}

nav {
  & ul li {
    text-align: center;
    width: 130px;
    display: inline-block;
  }

  & ul li a {
    font-family: $font-body;
    text-decoration: none;
    display: block;
  }
}

a:hover {
  background-color: $primary-color;
  color: $font-color;
}

main {
  margin: 70px 300px;
}

h3 {
  font-family: $font-heading;
  font-size: $font-size--heading;
}

p {
  font-family: $font-body;
  font-size: 18px;
}

img {
  &.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  margin: 10px;
}
